#header {
    background-color: #d1ddd2;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    font-family: "Cookie", cursive;
  font-weight: 200;
  font-style: normal;
    font-size: 30px;
}

#content {
    background-color: #dff5e1;
    padding: 20px;
    text-align: center;
    font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
    font-size: 30px;
}

#btn {
    background-color: #000000; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    position:relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    padding: 10px 20px;
    font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
    font-size: 30px;
    
}

#input {
    background-color: #f0f0f0;
    border: 2px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    width: 25%;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 33%;
    margin-top: 30px;
    font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
    font-size: 30px;
}

